@font-face {
  font-family: "kenyan-bd";
  src: url("../fonts/kenyan_coffee_bd.ttf"); }
@font-face {
  font-family: "kenyan-rg";
  src: url("../fonts/kenyan_coffee_rg.ttf"); }
@font-face {
  font-family: "moranke";
  src: url("../fonts/moranke.ttf"); }
@font-face {
  font-family: "kenyan-rgnit";
  src: url("../fonts/kenyan_coffee.ttf"); }
h1, h2 {
  padding: 0;
  margin: 0; }

a {
  text-decoration: none;
  color: #4d4d4d; }

* {
  box-sizing: border-box; }

ul {
  padding: 0;
  margin: 0; }
  ul li {
    list-style-type: none; }

.main-header {
  max-width: 100%;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-auto-rows: 4rem; }

.left,
.right {
  background-color: tomato; }

/*
// left section style
*/
.left {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.name {
  color: white;
  margin-left: 2rem;
  font-family: "kenyan-bd";
  position: relative;
  font-size: 1.5rem;
  letter-spacing: 2px; }
  .name strong {
    color: #d9d9d9; }

.tm {
  font-family: "Open Sans";
  font-size: 0.3rem;
  position: absolute; }

.bell {
  position: relative;
  margin-right: 1rem; }

#bell {
  width: 35px;
  height: 35px; }

.green_dot {
  width: 10px;
  height: 10px;
  background: greenyellow;
  border-radius: 50%;
  position: absolute;
  top: 0; }

/*
// right section style
*/
.right {
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: -6px 0 5px -5px black; }
  .right p {
    font-family: "moranke";
    font-size: 2rem;
    margin-right: 1rem;
    margin-left: .5rem;
    color: white; }

.avatar {
  border-radius: 50%;
  width: 40px;
  margin-left: .8rem; }

.last {
  display: none; }

.sidebar {
  width: 100%;
  height: 4rem;
  background: #7a1300;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1000;
  text-align: center; }

.dashboard,
.member,
.visits,
.setting {
  width: 30px;
  height: 30px;
  fill: #d9d9d9; }

.main-content {
  position: absolute;
  width: 100%;
  height: 100%; }

.searchBar {
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center; }

/*
 titlte Style
*/
.bar-title {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "kenyan-rgnit"; }
  .bar-title p {
    font-size: 1.4rem; }

/*
 Input Style
*/
.bar {
  width: 80%;
  display: flex;
  padding-right: 1rem;
  background-color: #F1F2F3;
  height: 100%;
  justify-content: center;
  align-items: center;
  border-left: solid #C7CCD1 1px;
  border-bottom: solid #C7CCD1 1px; }
  .bar input {
    margin-left: auto;
    width: 70%;
    height: 60%;
    border-radius: 4px;
    border: 1px solid #C7CCD1;
    background: url("../icons/icon-search.svg") no-repeat right white; }

.alert {
  width: 96%;
  margin: .8rem auto;
  background: tomato;
  font-family: "kenyan-rgnit";
  color: white;
  font-size: 1.2rem;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2rem;
  padding: .5rem 1rem; }
  .alert strong {
    font-family: "kenyan-rg";
    margin-right: 1rem;
    font-size: 1.5rem; }
  .alert a {
    color: white; }

.trafic-wrap {
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.display-mode {
  display: flex;
  justify-content: space-between;
  font-family: "kenyan-rgnit"; }
  .display-mode li {
    text-align: center;
    display: inline-block;
    width: 100%;
    height: 100%;
    width: 5rem;
    padding: .4rem 0;
    border-radius: 5px; }

.trafic-title {
  font-family: "kenyan-rgnit";
  color: #4d4d4d;
  font-size: 1.2rem;
  letter-spacing: 2px; }

#traficChart {
  width: 95%;
  margin: auto; }

.isActive {
  color: white;
  background: #3174ED; }

.chartHourly,
.chartDaily,
.chartWeekly,
.chartMonthly {
  display: none; }

.show {
  display: block; }

.chartBar {
  width: 95%;
  border: solid #C7CCD1 1px;
  padding: .5rem 1rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px; }
  .chartBar p {
    font-family: "kenyan-rgnit";
    color: #4d4d4d;
    font-size: 1.3rem;
    letter-spacing: 2px; }

.doughnutChart {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border: solid #C7CCD1 1px;
  padding: .5rem 1rem; }
  .doughnutChart p {
    font-family: "kenyan-rgnit";
    color: #4d4d4d;
    font-size: 1.3rem;
    letter-spacing: 2px; }

.socialStates {
  width: 95%;
  margin: auto; }
  .socialStates p {
    font-family: "kenyan-rgnit";
    color: #4d4d4d;
    font-size: 1.3rem;
    letter-spacing: 2px; }

/*
// twittr style
*/
.twitter {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  background-color: #F1F2F3;
  border: solid #C7CCD1 1px;
  margin: 1rem 0; }

.twitterData {
  display: flex;
  justify-content: space-around; }
  .twitterData p {
    margin-left: 6rem;
    font-family: "kenyan-bd"; }

.twitter svg {
  width: 30px;
  height: 30px;
  margin-top: 7px;
  fill: white; }

.twi-logo {
  background: tomato;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%; }

/*
// facebook style
*/
.facebook {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #F1F2F3;
  border: solid #C7CCD1 1px;
  margin: 1rem 0; }

.facebookData {
  display: flex;
  justify-content: space-around; }
  .facebookData p {
    margin-left: 6rem;
    font-family: "kenyan-bd"; }

.facebook-logo {
  width: 50px;
  height: 50px;
  background: tomato;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%; }

.facebook svg {
  width: 40px;
  height: 50px;
  fill: white;
  margin-left: -20px; }

/*
// google style
*/
.google {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  background-color: #F1F2F3;
  border: solid #C7CCD1 1px;
  margin: 1rem 0; }

.google-logo {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: tomato;
  border-radius: 50%; }

.google svg {
  width: 80px;
  height: 30px;
  fill: white; }

.googleData {
  display: flex;
  justify-content: space-around; }
  .googleData p {
    margin-left: 6rem;
    font-family: "kenyan-bd"; }

/*# sourceMappingURL=style.css.map */
