.main-header{
    grid-area: mainHeader;
}
.sidebar{
    grid-area: sideBar;
}
.main-content{
    grid-area: mainContent;
}
body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 4rem 4rem auto;
    grid-template-areas: 
        "mainHeader mainHeader"
        "sideBar sideBar"
        "mainContent mainContent"
    ;
}

@media (min-width: 768px){
    body{
        grid-template-columns: 1fr 7fr;
        grid-template-areas: "mainHeader";
    }
}