.sidebar{
    width: 100%;
    height: 4rem;
    background: $secoundaryColor;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1000;
    text-align: center;
}
.dashboard,
.members,
.visits,
.settings{
    width: 30px;
    height: 30px;
    fill:$secoundarytextColor;
    &:hover{
        fill:$primarytextColor;
    }
}