.alert{
    width: 96%;
    margin:auto;
    background: tomato;
    font-family: "kenyan-rgnit";
    color: $primarytextColor;
    font-size: 1.2rem;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.2rem;
    padding: 1rem 0;
    strong{
        font-family: "kenyan-rg";
        margin-right: 1rem;
        font-size: 1.5rem;
    }   
    p{
        margin-left: 2rem;
    }
}

.close{
    fill:$primarytextColor;
    margin-right: 2rem;
    width: 15px;
    height: 15px;
    stroke: $primarytextColor;
}